* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --smallInnerPadding: 5px;
  --mediumInnerPadding: 8px;
  --borderRadius: 5px;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Header Section */
header {
  height: 65px;
  width: 100%;
  background-color: hsl(0, 0%, 90%);

  padding: var(--mediumInnerPadding) 20px var(--mediumInnerPadding) 20px;

  display: flex;
  align-items: center;
}

input[type="search"] {
  height: 30px;
  min-width: 50ch;

  font-size: 14px;
  font-family: inherit;

  padding-left: var(--smallInnerPadding);
  border-radius: var(--borderRadius);
  border: 1px grey solid;
  /* outline: none; */
}

.header-options {
  list-style: none;

  display: flex;
  gap: 4rem;

  font-size: 1.4rem;
  padding: var(--mediumInnerPadding);
  margin-right: auto;
}

.header-option {
  cursor: pointer;
  user-select: none;
}

.header-option:hover {
  color: hsl(0, 0%, 50%);
}

.header-option:active {
  color: hsl(0, 0%, 30%);
}


/* Section */
section {
  width: 100%;
  height: fit-content;
  padding: 2rem 10px 2rem 10px;
  margin: 1rem 0 1rem 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;

  background-color: whitesmoke;
}

/* today */
#today {
  justify-content: center;
}

.weather-symbol {
  width: 200px;
  height: 200px;

  border-radius: var(--borderRadius);
  background-color: grey;
}

.weather-today-info {
  width: 275px;
  height: 250px;

  border-radius: var(--borderRadius);
  background-color: grey;
}

.weather-today-alerts {
  width: 400px;
  height: 250px;

  border-radius: var(--borderRadius);
  background-color: grey;
}



/* hourly info */
#hourly-info {
  gap: .5rem;
  justify-content: center;
  padding: 2rem;
  flex-wrap: nowrap;

  overflow-x: auto;
}

.card {
  height: 200px;
  width: 75px;
  flex: 0 0 auto;

  background-color: grey;
  border-radius: var(--borderRadius);
}



/* visualizer graph */
#visualizer-graph {
  justify-content: center;
  overflow-x: auto;
}

.graph {
  height: 200px;
  width: calc(100% - 12rem);
  min-width: 950px;

  background-color: grey;
  border-radius: var(--borderRadius);
}